.menu-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.menu-items {
  display: flex;
  width: 100%;
}

.menu-button {
  font-size: 1.5em;
  width: 50%;
  border: 1px solid rgb(129, 180, 202);
  background-color: whitesmoke;
  box-shadow: 3px 3px 5px var(--secondary-colour);
  padding: 5px 20px;
}

.menu-button:hover {
  border: 1px solid rgb(170, 209, 226);
  color: rgb(170, 209, 226);
  box-shadow: 3px 3px 5px rgb(170, 209, 226);
}

.rec {
  width: 100%;
}
