:root {
  --main-colour: rgb(175, 196, 201);
  --secondary-colour: rgb(95, 109, 161);
  --tertiary-colour: rgb(95, 109, 161);
  --detail-page-colour: rgb(182, 219, 216);
  --fancy-shadow-colour: rgb(96, 36, 118);
  --bg-colour: rgb(214, 231, 228);
}

html {
  /* height: 100%; */
  font-family: 'Nunito', sans-serif;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgb(40, 37, 31);
  margin: 0;
  /* background: linear-gradient(
      180deg,
      var(--main-colour),
      var(--secondary-colour),
      var(--main-colour)
    ); */
  background-color: var(--bg-colour);

  /* height: 100%; */
}

h1 {
  line-height: 0.5em;
  margin-top: 40px;
}

input {
  border-radius: 15px;
  margin: 5px 0 5px 15px;
}

a {
  color: inherit; /* blue colors for links too */
  text-decoration: inherit; /* no underline */
}

.shop {
  width: 100%;
}

.search {
  font-size: 1.5em;
  width: auto;
  background-color: whitesmoke;
  box-shadow: 3px 3px 5px var(--secondary-colour);
  border: none;
  border-radius: 15px;
  margin-top: 20px;
  padding: 5px 20px;
}

.show-section {
  text-align: right;
}

.show-button {
  border: initial;
  border-bottom: 1px dotted var(--fancy-shadow-colour);
  background-color: initial;
  margin-right: 5px;
}

.map-pointer {
  width: 20px;
}

.liked {
  color: rgb(182, 50, 50);
}

.like-button {
  margin-left: 10px;
  padding-right: 10px;
  user-select: none;
}

.like-button:hover {
  cursor: pointer;
}

.like-button:active {
  text-shadow: 3px 3px 5px red, -3px 3px 5px red, -3px -3px 5px red,
    3px -3px 5px red;
}

.search-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.row-item {
  width: 95%;
  color: var(--tertiary-colour);
  background-color: var(--main-colour);
  box-shadow: 4px 4px 4px var(--secondary-colour);
  margin: 10px auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.directions {
  width: 95%;
  margin: auto;
  text-align: center;
}

.details-lower {
  width: calc(100% - 80px);
  display: flex;
  flex-direction: column;
}

.store-info {
  display: flex;
  width: 95%;
  margin: auto;
}

.store-name {
  text-align: center;
  width: 80%;
}

.store-name h3 {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  font-size: 0.8em;
}

.rating,
.status {
  font-size: 0.6em;
}

.address {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  font-size: 0.8em;
}

.results {
  width: 100%;
}

.row-img {
  object-fit: cover;
  width: 80px;
  height: 80px;
}

.details-button {
  height: 30px;
  width: auto;
  background-color: whitesmoke;
  box-shadow: 3px 3px 5px var(--secondary-colour);
  border: none;
  border-radius: 100%;
}

.fine-details {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.review-content {
  font-size: 0.8em;
  padding: 0 10px;
}

.container {
  border-radius: 15px;
  box-shadow: 5px 5px 10px var(--fancy-shadow-colour) inset;
  background-color: var(--detail-page-colour);
  width: 90%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: auto;
  align-items: center;
}

.review-hidden {
  width: 100%;
  height: 120px;
  overflow: hidden;
  border-bottom: 1px solid var(--fancy-shadow-colour);
}

.left-side {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}
.right-side {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.title {
  width: 100%;
  text-align: left;
}

.rating-box {
  padding-left: 35px;
}

.seperator {
  border: 1px var(--fancy-shadow-colour) solid;
  border-radius: 50px;
  width: 80%;
  margin: auto;
  height: 1px;
  background-color: var(--fancy-shadow-colour);
}

.title h2 {
  font-size: 1.5em;
}

.title-box {
  display: flex;
  flex-direction: column;
}

.upper-box {
  padding-left: 35px;
  display: flex;
  align-items: center;
}

.reviews {
  width: 100%;
}

.author {
  font-size: 0.9em;
  padding: 0 10px;
}

.photos {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.photo-box {
  width: 95%;
  height: 300px;
  margin-top: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.details-img {
  width: 98%;
  height: 98%;
  object-fit: cover;
  box-shadow: 2px 2px 3px var(--fancy-shadow-colour);
}

::-webkit-scrollbar {
  margin-right: 4px;
  height: 98%;
  width: 0.5em;
  border-radius: 10px;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

::-webkit-scrollbar-thumb {
  border-radius: 16px;
  background-color: var(--main-colour);
  outline: 1px solid var(--secondary-colour);
}

.search-section {
  width: 95%;
  font-size: 1em;
  text-align: center;
  background-color: var(--main-colour);
  box-shadow: 4px 5px 10px var(--secondary-colour),
    -4px 5px 10px var(--secondary-colour);
  padding-bottom: 20px;
  margin: 10px 0 20px 0;
}

.search-container a {
  font-size: 0.3em;
  color: rgb(175, 194, 188);
}

@media (min-width: 600px) {
  .container {
    overflow-y: hidden;
    flex-direction: row;
    height: 80%;
  }

  .left-side {
    width: 40%;
    height: 100%;
  }

  .right-side {
    width: 60%;
    height: 100%;
    overflow-y: auto;
  }

  .photos {
    width: 90%;
    height: 90%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
  }

  .photo-box {
    width: 200px;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: initial;
  }

  .details-img {
    width: 190px;
    height: 190px;
    object-fit: cover;
    box-shadow: 2px 2px 3px var(--fancy-shadow-colour);
  }

  .reviews {
    width: 92%;
    height: 75%;
    overflow-y: auto;
    padding-right: 10px;
  }

  .title {
    height: 15%;
    width: 92%;
  }
  .search-container {
    width: 65%;
  }
}
