:root {
  --main-colour: rgb(251, 224, 181);
  --secondary-colour: rgb(95, 109, 161);
  --tertiary-colour: rgb(95, 109, 161);
  --detail-page-colour: rgb(182, 219, 216);
  --fancy-shadow-colour: rgb(96, 36, 118);
  --bg-colour: rgb(249, 203, 118);
}

html {
  height: 100%;
  font-family: 'Nunito', sans-serif;
}

body {
  font-family: 'Kosugi Maru', sans-serif;
  color: rgb(40, 37, 31);
  margin: 0;
  /* background: linear-gradient(
      180deg,
      var(--main-colour),
      var(--secondary-colour),
      var(--main-colour)
    ); */
  background: rgb(249, 203, 118);
  background: linear-gradient(
    133deg,
    rgba(229, 137, 10, 1) 0%,
    rgba(247, 208, 138, 1) 30%,
    rgba(244, 232, 215, 1) 100%
  );
  height: 100%;
}
h1 {
  line-height: 0.5em;
  margin-top: 40px;
}

a {
  color: inherit; /* blue colors for links too */
  text-decoration: inherit; /* no underline */
}

/* login page */

.centered {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
}

.details {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-self: center;
}

.hl {
  border-top: 3px solid rgb(52, 84, 190);
  width: 100%;
  margin: 20px 0;
}

/* imgs */

.lrg-img {
  width: 300px;
  margin: 30px;
}
.fixed {
  position: absolute;
  z-index: -1;
  left: 50%;
  transform: translateX(-50%);
}

/* page headers */

.page-title {
  color: rgb(52, 84, 190);
  font-size: 1.9em;
  margin: 30px 0 0 50px;
}

/* button sizes */

.lrg {
  width: 300px;
  height: 100px;
  font-size: 1.6em;
}

.med {
  margin: 10px;
  width: 200px;
  height: 60px;
  font-size: 1.3em;
}
/*  */

.flex-row {
  display: flex;
  align-items: center;
}

.input-box {
  font-size: 1.5em;
  height: 50px;
  font-family: 'Kosugi Maru', sans-serif;
  margin: 10px 30px;
}

.shop {
  width: 100%;
}

.search {
  font-size: 1.5em;
  width: auto;
  background-color: whitesmoke;
  box-shadow: 3px 3px 5px var(--secondary-colour);
  border: none;
  border-radius: 15px;
  margin-top: 20px;
  padding: 5px 20px;
}

.show-section {
  text-align: right;
}

.show-button {
  border: initial;
  border-bottom: 1px dotted var(--fancy-shadow-colour);
  background-color: initial;
  margin-right: 5px;
}

.liked {
  color: rgb(182, 50, 50);
}

.like-button {
  margin-left: 10px;
  padding-right: 10px;
  user-select: none;
}

.like-button:hover {
  cursor: pointer;
}

.like-button:active {
  text-shadow: 3px 3px 5px red, -3px 3px 5px red, -3px -3px 5px red,
    3px -3px 5px red;
}

.search-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.row-item {
  width: 95%;
  color: var(--tertiary-colour);
  background-color: var(--main-colour);
  box-shadow: 4px 4px 4px var(--secondary-colour);
  margin: 10px auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.directions {
  width: 95%;
  margin: auto;
  text-align: center;
}

.details-lower {
  width: calc(100% - 80px);
  display: flex;
  flex-direction: column;
}

.store-info {
  display: flex;
  width: 95%;
  margin: auto;
}

.store-name {
  text-align: center;
  width: 80%;
}

.store-name h3 {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  font-size: 0.8em;
}

.rating,
.status {
  font-size: 0.6em;
}

.address {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  font-size: 0.8em;
}

.results {
  width: 50%;
  max-height: 75vh;
  overflow-y: auto;
}

.row-img {
  object-fit: cover;
  width: 80px;
  height: 80px;
}

.details-button {
  height: 30px;
  width: auto;
  background-color: whitesmoke;
  box-shadow: 3px 3px 5px var(--secondary-colour);
  border: none;
  border-radius: 100%;
}

.fine-details {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.container {
  border-radius: 15px;
  box-shadow: 5px 5px 10px var(--fancy-shadow-colour) inset;
  background-color: var(--detail-page-colour);
  width: 90%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: auto;
  align-items: center;
}

::-webkit-scrollbar {
  margin-right: 4px;
  height: 98%;
  width: 0.5em;
  border-radius: 10px;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

::-webkit-scrollbar-thumb {
  border-radius: 16px;
  background-color: var(--main-colour);
  outline: 1px solid var(--secondary-colour);
}

.search-section {
  height: 70vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 40%;
  font-size: 1em;
  text-align: center;
  color: rgb(52, 84, 190);
  background-color: var(--main-colour);
  box-shadow: 4px 5px 10px var(--secondary-colour),
    -4px 5px 10px var(--secondary-colour);
  padding-bottom: 20px;
  margin: 10px 0 20px 0;
}

.sm-img {
  width: 100px;
}

.med-img {
  width: 150px;
}

.table {
  margin-bottom: 0;
  display: block;
}

.search-container a {
  font-size: 0.3em;
  color: rgb(175, 194, 188);
}

.cat-meal {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.search-bottom {
  margin-top: 30px;
  display: flex;
  justify-content: space-evenly;
  width: 100%;
}
.input-type {
  margin: 20px;
}

@media (max-width) {
  .search-section {
    height: initial;
    width: 90%;
  }
}
